:root {
    --text-color: #667085;
    --title-color: #101828;
    --main-color: #8E2424;
  }

* {
    font-family: 'Inter', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    color: var(--text-color);
}

.links a {
    text-decoration: none;
    margin-right: 2rem;
}

button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--text-color);
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 0.9rem;
}

button#signUp {
    background-color: var(--main-color);
    color: #fff;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
    gap: 1rem;
}

.aboutUs span {
    color: var(--main-color);
    font-weight: 600;
}

.aboutUs h1 {
    font-size: 3rem;
    color: var(--title-color);
}

.aboutUs p {
    font-size: 1.25rem;
    color: var(--text-color);
    max-width: 50%;
    text-align: center;
}

.metrics {
    margin: 0 80px;
    display: flex;
}

@media screen and (max-width: 767px) {
    .metrics {
        flex-direction: column;
    }
}

.metrics div {
    margin: 0 16px;
    padding-bottom: 6rem;
}

.metrics h1 {
    color: var(--main-color);
    font-size: 3.75rem;
    font-weight: 600;
}

.metrics span {
    color: var(--title-color);
    font-size: 1.125rem;
    font-weight: 500;
}

.metrics p {
    color: var(--text-color);
    font-size: 1rem;
}

.talents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
}

.talents #spots {
    color: var(--main-color);
    background-color: rgb(142, 36, 36, 0.05);
    border-radius: 1rem;
    font-size: 0.875rem;
    line-height: 20px;
    width: 7.8125rem;
    text-align: center;
    font-weight: 500;
}

.talents img {
    width: 80%;
    margin: 0 7rem;
}

.job_opportunity {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.area {
    font-size: 1.25rem;
    display: block;
    margin: 2rem auto;
    width: 50%;
    font-weight: bold;
}

.job_vacancies {
    border: 1px solid #EAECF0;
    border-radius: 0.5rem;
    margin: 0 auto 1rem;
    width: 50%;
    padding: 24px 24px 28px;
}

.job_title {
    color: var(--title-color);
    font-size: 1.125rem;
    font-weight: 500;
    
}

.job_info{
    display: flex;
    color: var(--text-color);
    gap: 1.5rem;
    margin-top: 2rem;
}

.collaborators {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    background-color: rgb(195, 25, 25, 0.03);
    margin: 0 auto 6rem;
    align-items: center;
    padding: 4rem 0;
}

.collaborators span {
    color: var(--main-color);
    font-size: 0.875rem;
    font-weight: 600;
}

.collaborators h2 {
    text-align: center;
    font-weight: 500;
    font-size: 2.25rem;
    color: var(--title-color);
}

.collaborators span.name {
    color: var(--title-color);
    margin: 0.5rem 0;
    font-weight: 500;
}

.collaborators span.role {
    color: var(--text-color);
    font-weight: 400;
}

.collaborators img {
   width: 56px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9FAFB;
    padding: 6rem 0;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

footer h1 {
    color: var(--title-color);
    font-size: 2.25rem;
}

footer form {
    display: flex;
    justify-content: space-between;
}

footer input {
    border: 1px solid #D0D5DD;
    border-radius: 0.5rem;
    width: 22.5rem;
    margin-right: 1rem;
}

footer span {
    color: var(--text-color);
    font-size: 1.25rem;
}

footer span#copyright {
    font-size: 1rem;
}